.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {
-fx-background-color: transparent; }

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/* Hide the vertical scroll bar */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}